# ignored files and folders

tmp/
.*

*.rej
*.out
*.patch
*.diff
*.swp
*.bak
*.tmp
*.csv
*.dat
*.log
*.key*
*.txt
*.zip
*.pcap
*.ids
*.png
*.pdf
*.cfg
*.svg
*.old
*.iso
*.sha1
*.sha256
*.md5
*.bin
*.html
*.list

perf.data

tmp.address
mac.address
mac.manufacturer

