# LTO HWE Backup Configuration

# The name of the director to backup keys for.
DIR_CONFIG_NAME="bareos-dir"

# Configure the backup name and path.
BACKUP_PATH="/etc/bareos/backup"
BACKUP_NAME="lto-hwe-keys.gpg"

# Set the full path to a file containing the password to use for symmetric GnuPG encryption.
PASSWORD_FILE="/etc/bareos/backup/.backup-password"

# Configure whether or not a decryption failure encountered when checking a previous backup
# for changes should be considered a critical failure. If this value is set to 'true' (the
# default), the backup will exit in error if decryption fails for any reason (eg. wrong
# password).
#
# If this value is set to 'false', decryption failures simply trigger backup re-generation.
# For example if the password is changed and DECRYPT_IS_CRITICAL="false" then the backup
# will be re-generated on the next run.
DECRYPT_IS_CRITICAL=false

# Configure git auto-commit. This should be set to 'true' if /etc is under VCS (eg. etckeeper)
# to automatically commit updated backups.
ETCKEEPER_AUTOCOMMIT=false

# Configure e-mail settings.
MAIL_ENABLE=true
MAIL_FROM="(Bareos) <bareos@localhost>"
MAIL_TO="root@localhost"
MAIL_SUBJECT="LTO HWE Backup $DIR_CONFIG_NAME-$TIMESTAMP"

# Configure an (optional) mail header
read -r -d '' MAIL_HEADER << EOM
A PGP-encrypted backup containing the LTO hardware encryption keys used by the Bareos director $DIR_CONFIG_NAME was generated on $DATE at $TIME.

Backup written to: $BACKUP_PATH/$BACKUP_NAME

The content of the encrypted backup is included below:
EOM

# Configure an (optional) mail footer
read -r -d '' MAIL_FOOTER << EOM
The above message is confidential and only for the intended recipient.
EOM
