## LTO HWE Backup Configuration

# Configure the director to backup keys for.
DIR_CONFIG_NAME="bareos-dir"
DIR_CONFIG_PATH="/etc/bareos/bareos-sd.d/director"

# Configure the backup name and path.
BACKUP_PATH="/etc/bareos/backup"
BACKUP_NAME="lto-hwe-keys.gpg"

# Configure the full path to the backup script.
# Script output is captured to create the backup file.
BACKUP_SCRIPT="/etc/bareos/scripts/hwe-backup.sh"

# Configure the GnuPG encryption mode to use for backups.
# One of PASSWORD_FILE or PUBKEY_FILE must be a valid path depending on the selection.
#
# Available options:
#   GPG_ENCRYPT_MODE="password"
#   GPG_ENCRYPT_MODE="publicKey"
#
GPG_ENCRYPT_MODE="password"

# Set the full path to a file containing the password to use for symmetric GnuPG encryption.
PASSWORD_FILE="/etc/bareos/backup/.backup-password"

# Set the full path to a file containing the GnuPG public-key to use for asymmetric encryption.
PUBKEY_FILE="/etc/bareos/backup/recipient.pub"

# Configure whether or not a decryption failure encountered when checking a previous backup
# for changes should be considered a critical failure. If this value is set to 'true' (the
# default), the backup will exit in error if decryption fails for any reason (eg. wrong
# password).
#
# If this value is set to 'false', decryption failures simply trigger backup re-generation.
# For example if the password is changed and DECRYPT_IS_CRITICAL="false" then the backup
# will be re-generated on the next run.
DECRYPT_IS_CRITICAL=false

# Configure git auto-commit. This should be set to 'true' if /etc is under VCS (eg. etckeeper)
# to automatically commit updated backups.
ETCKEEPER_AUTOCOMMIT=false

# Configure e-mail settings.
MAIL_ENABLE=true
MAIL_ALWAYS=false
MAIL_HOST="localhost"
MAIL_FROM="(Bareos) <bareos@localhost>"
MAIL_TO="root@localhost"
MAIL_SUBJECT="LTO HWE Backup $DIR_CONFIG_NAME-$TIMESTAMP"

# Configure an (optional) mail header
read -r -d '' MAIL_HEADER << EOM
A PGP-encrypted backup containing the LTO hardware encryption keys used by the Bareos director $DIR_CONFIG_NAME was generated on $DATE at $TIME.

Backup written to: $BACKUP_PATH/$BACKUP_NAME

The content of the encrypted backup is included below:
EOM

# Configure an (optional) mail footer
read -r -d '' MAIL_FOOTER << EOM
The above message is confidential and only for the intended recipient.
EOM
